<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TCC.Properties.Settings.MegatechConnectionString"
            connectionString="Provider=SQLNCLI.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Megatechdatabase;Data Source=KAUE-PC\SQLEXPRESS"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>