<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TCC.Properties.Settings.MegatechConnectionString"
            connectionString="Data Source=KAUE-PC\;Initial Catalog=Megatechdatabase;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>